.blinking-lights {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(63, 63, 63);
  animation: blink 1s infinite alternate;
}

@keyframes blink {
  0% {
    background: rgb(255, 0, 0);
  }
  100% {
    background: yellow;
  }
}